
*.txt
build/classes/.netbeans_automatic_build
*.class
build/classes/.netbeans_update_resources
*.txt
APDescription.txt
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
/build/